@import "@ben-ryder/jigsaw/sass/00-foundations/motion/motion.toolkit";

.loading-screen {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--j-space-4);
    text-align: center;
  }

  .j-icon {
    height: 80px;
    width: 80px;

    svg {
      @include j-animation-spin;
    }
  }

  &__message {
    margin-top: var(--j-space-4);
    font-size: var(--j-text-size-lg);
  }
}
