// todo: remove once https://github.com/ben-ryder/jigsaw/issues/63 is sorted.

$breakpoints: (
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
) !default;

@mixin breakpoint($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @warn "`#{$breakpoint}` is not a valid breakpoint identifier.";
  }
}

@mixin j-animation-spin {
  animation-duration: var(--j-motion-duration-slow);
  animation-name: j-animation-spin;
  animation-iteration-count: infinite;
  animation-timing-function: var(--j-motion-linear);
}
