
@use "menu-panel" as *;

.main-panel-action {
  &__button {
    @include menu-panel-button();

    padding: var(--j-space-3) var(--j-space-6);
    display: flex;
    align-items: center;

  &:focus {
      .main-panel-action__icon {
        color: var(--j-c-teal-300);
      }
    }
  }

  &--special {
    .main-panel-action__text,
    .main-panel-action__icon {
      color: var(--j-c-teal-300);
    }
  }

  &__icon {
    display: contents;
    color: var(--j-c-blueGrey-50);
  }

  &__text {
    margin-left: var(--j-space-4);
    font-size: var(--j-text-size-sm);
    font-weight: var(--j-text-weight-medium);
  }
}