@import "@ben-ryder/jigsaw/sass/00-foundations/breakpoints/breakpoints.toolkit";

:root {
  --menu-panel-width: 275px;
}

@mixin menu-panel-button {
  display: block;
  padding: var(--j-space-2);
  border-radius: var(--j-border-radius-sm);
  color: inherit;

  &:hover,
  &:focus {
    outline: none;
    background-color: var(--j-c-atom-50);
    color: var(--j-c-mono-200);
    cursor: pointer;
  }

  &:focus {
    color: var(--j-c-teal-300);
  }
}

@mixin section-border {
  content: '';
  display: block;
  height: var(--j-border-width-md);
  width: calc(100% - var(--j-space-5)*2);
  background-color: var(--j-c-blueGrey-800);
  margin: auto;
}

.menu-panel {
  width: 100%;
  position: absolute;
  height: 100%;
  z-index: var(--j-z-layer-1);
  transition: all var(--j-motion-duration-medium) var(--j-motion-ease-in-out);

  background: var(--j-c-atom-200);
  color: var(--j-c-mono-100);

  @include breakpoint(md) {
    width: var(--menu-panel-width);
    min-width: var(--menu-panel-width);
  }

  &--menu-hidden {
    transform: translateX(-100vw);
    // todo: review accessibility of showing/hiding menu
    visibility: hidden;

    @include breakpoint(md) {
      transform: translateX(-275px);
    }
  }

  &__database {
    &::after {
      @include section-border();
    }

    &-content {
      padding: var(--j-space-3) var(--j-space-5);
      display: flex;
      align-items: center;
    }

    &-name {
      text-overflow: ellipsis;
      overflow-x: hidden;
      white-space: nowrap;
      pointer-events: none;
    }

    &-edit {
      @include menu-panel-button();
      padding: var(--j-space-3);

      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      font-size: var(--j-text-size-sm);
      max-width: 180px;

      .j-icon {
        margin-left: var(--j-space-2);
        height: 18px;
        width: 18px;
        min-width: 18px;
        min-height: 18px;
        line-height: 0;
      }
    }

    &-switch {
      @include menu-panel-button();
      padding: var(--j-space-3);
    }
  }

  &__actions {
    margin-top: var(--j-space-12);
    padding: var(--j-space-3) var(--j-space-3);
  }

  &__favorites {
    margin-top: var(--j-space-12);
    padding: var(--j-space-3);
  }

  &__user {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: var(--j-c-atom-200);

    &::before {
      @include section-border()
    }

    &-content {
      display: flex;
      padding: var(--j-space-3) var(--j-space-5);
    }
  }

  &__account,
  &__settings,
  &__logs,
  &__help,
  &__menu {
    @include menu-panel-button();
    line-height: 0;
    padding: var(--j-space-3);
  }

  &__menu {
    margin-left: auto;
  }
}

.main-panel-action {
  &__button {
    width: 100%;
  }
}