.ath-message-page {
  margin-top: var(--j-space-48);
  display: flex;
  justify-content: center;
  align-items: center;

  &__panel {
    width: 100%;
    max-width: 600px;
    background-color: var(--j-c-background-f1);
    border-radius: var(--j-border-radius-md);
    padding: var(--j-space-16);
    margin: var(--j-space-4);

    &-heading {
      font-weight: bold;
      font-size: var(--j-text-size-4xl);
      color: var(--j-c-text-heading);
    }

    &-text {
      margin: var(--j-space-4) 0;
    }
  }
}
