@use "@ben-ryder/jigsaw/sass/00-foundations/breakpoints/breakpoints.toolkit" as *;

:root {
  --a-sidebar-size: 60px;
}

.athena {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column-reverse;

  &__sidebar {
    height: var(--a-sidebar-size);
    background-color: var(--j-c-background-f1);
    border-top: var(--j-border-width-md) solid var(--j-c-blueGrey-900);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--j-space-4);
    padding: var(--j-space-4) 0;
  }

  &__main {
    height: calc(100vh - var(--a-sidebar-size));
  }

  @include breakpoint(md) {
    flex-direction: row;

    &__sidebar {
      flex-direction: column;
      height: 100vh;
      width: var(--a-sidebar-size);
      border-top: none;
      border-right: var(--j-border-width-md) solid var(--j-c-blueGrey-900);
    }

    &__main {
      width: calc(100vw - var(--a-sidebar-size));
      height: 100%;
    }
  }
}

.sidebar-button,
.sidebar-status-button {
  color: var(--j-c-mono-100);
  padding: var(--j-space-3);
  transition: all var(--j-motion-duration-fast) var(--j-motion-ease-in-out);

  &:hover {
    cursor: pointer;
    color: var(--j-c-primary);
    background-color: var(--j-c-background-f2);
    border-radius: var(--j-border-radius-md);
  }
}

.sidebar-divider {
  width: 42px;
  height: var(--j-border-width-md);
  background-color: var(--j-c-blueGrey-900);
}

.sidebar-separator {
  flex-grow: 1;
}

.sidebar-status-button {
  color: var(--j-c-variant-green);

  &:hover {
    color: var(--j-c-variant-green);
  }
}