@use "@ben-ryder/jigsaw/sass/00-foundations/breakpoints/breakpoints.toolkit" as *;

:root {
  --ribbon-size: 60px;
}

.athena {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column-reverse;

  &__ribbon {
    position: absolute;
    bottom: 0;
    height: var(--ribbon-size);
    width: 100vw;
    background-color: var(--j-c-background-f1);
    border-top: var(--j-border-width-md) solid var(--j-c-blueGrey-900);

    // @todo: make layout/content more mobile friendly
    overflow: scroll;

    &-menu {
      height: 100%;
      min-width: min-content;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: var(--j-space-4);
      padding: 0 var(--j-space-4);
    }
  }

  &__main {
    height: calc(100vh - var(--ribbon-size));

    // Ensure space is reserved for ribbon
    margin-bottom: var(--ribbon-size);

    // @todo: better way to handle this?
    overflow: scroll;
  }

  @include breakpoint(md) {
    flex-direction: row;

    &__ribbon {
      position: relative;
      bottom: unset;
      height: 100vh;
      width: var(--ribbon-size);
      border-top: none;
      border-right: var(--j-border-width-md) solid var(--j-c-blueGrey-900);

      &-menu {
        flex-direction: column;
        padding: var(--j-space-4) 0;
      }
    }

    &__main {
      width: calc(100vw - var(--ribbon-size));
      height: 100%;
      margin-bottom: 0;
    }
  }
}

.sidebar-button,
.sidebar-status-button {
  color: var(--j-c-mono-100);
  padding: var(--j-space-3);
  transition: all var(--j-motion-duration-fast) var(--j-motion-ease-in-out);

  &:hover {
    cursor: pointer;
    color: var(--j-c-primary);
    background-color: var(--j-c-background-f2);
    border-radius: var(--j-border-radius-md);
  }
}

// @todo: better way at handling separators/dividers?
@include breakpoint(md) {
  .sidebar-divider {
    width: 42px;
    height: var(--j-border-width-md);
    background-color: var(--j-c-blueGrey-900);
  }

  .sidebar-separator {
    flex-grow: 1;
  }
}

.sidebar-status-button {
  color: var(--j-c-variant-green);

  &:hover {
    color: var(--j-c-variant-green);
  }
}