.content-card {
  position: relative;
  background: var(--j-c-background-f1);
  border: var(--j-border-width-md) solid var(--j-c-background-f1);
  border-radius: var(--j-border-radius-sm);
  margin-bottom: var(--j-space-8);
  transition: all var(--j-motion-duration-fast) var(--j-motion-ease-in-out);

  &:hover,
  &:focus {
    outline: none;
    cursor: pointer;
    border: var(--j-border-width-md) solid var(--j-c-primary);
  }

  &__content {
    padding: var(--j-space-8);
  }

  &__name {
    font-size: var(--j-text-size-md);
    font-weight: bold;
    color: var(--j-c-text-heading);
  }

  &__description {
    margin-top: var(--j-space-4);
  }

  &__tags {
    margin-top: var(--j-space-4);
    display: flex;
    flex-wrap: wrap;
    gap: var(--j-space-2);
  }
}

.j-dialog {
  .content-card {
    background: var(--j-c-background-f2);
  }
}