.tags-list {

  &__actions {
    display: flex;
    align-items: flex-end;
    margin-left: auto;
  }

  &__emtpy-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--j-space-12);
    margin: auto;

    .j-icon {
      margin-bottom: var(--j-space-4);
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--j-space-4);
    padding: var(--j-space-4);
  }
}
