
.dev-page {
  &__icon {
    max-width: 400px;
    margin: var(--j-space-4) auto auto;
    padding: var(--j-space-6);

    img {
      max-width: 100%;
      height: auto;
    }
  }

  &__title {
    font-size: var(--j-text-size-3xl);
    font-weight: bold;
  }

  &__content {
    max-width: 600px;
    margin: var(--j-space-4) auto;
    text-align: center;

    .j-prose {
      margin-top: var(--j-space-6);
    }
  }
}