@import "@ben-ryder/jigsaw/sass/00-foundations/breakpoints/breakpoints.toolkit";

.workspace {
  width: 100%;
  transition: all var(--j-motion-duration-medium) var(--j-motion-ease-in-out);

  @include breakpoint(md) {
    margin-left: var(--menu-panel-width);
  }

  &--menu-hidden {
    margin-left: 0;
  }
}

.workspace__menu-button {
  position: absolute;
  bottom: 0;

  background: var(--j-c-atom-200);
  color: var(--j-c-primary-text);
  padding: var(--j-space-4);
  line-height: 0;
  border-top-right-radius: var(--j-border-radius-md);
  box-shadow: var(--j-shadow-md);

  &:hover {
    background: var(--j-c-atom-50);
    cursor: pointer;
    box-shadow: none;
  }
}

.workspace-tab {
  display: flex;
  align-items: center;
  width: max-content;
  background-color: var(--j-c-background-f2);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;

  &__select,
  &__close {
    color: var(--j-c-text-emphasis);
    font-size: var(--j-text-size-sm);

    &:hover {
      cursor: pointer;
      color: var(--j-c-primary);
    }
  }

  &__save-status {
    &:before {
      content: '';
      display: block;
      width: 8px;
      height: 8px;
      border-radius: 8px;
      background-color: var(--j-c-orange-400);
      margin-left: var(--j-space-3);
    }
  }

  &__select {
    padding: var(--j-space-5);
    padding-right: 0;
    font-weight: var(--j-text-weight-medium);
  }

  &__close {
    padding: var(--j-space-5);

    &:hover {
      color: var(--j-c-red-300);
    }
  }

  &--active {
    background: var(--j-c-background);
  }
}

.workspace-tabs__list {
  display: flex;
  gap: var(--j-space-5);
  overflow-x: scroll;
  min-height: 49px;

  background-color: var(--j-c-background-f1);
  padding-top: var(--j-space-5);
  padding-left: var(--j-space-5);
  padding-right: var(--j-space-5);
}

.workspace-area {
  max-height: calc(100vh - 50px);
  overflow: scroll;
}