
.ath-content-page {
  &__menu {
    margin-top: var(--j-space-12);
    display: flex;
    align-items: center;
    background: var(--j-c-background-f1);
    padding: var(--j-space-6);
    border-top-left-radius: var(--j-border-radius-md);
    border-top-right-radius: var(--j-border-radius-md);
    border-bottom: var(--j-border-width-sm) solid var(--j-c-blueGrey-800);
  }

  &__actions {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: var(--j-space-4);
  }

  &__content {
    margin-top: var(--j-space-12);
  }

  &__field {
    margin-top: var(--j-space-12);
  }
}